<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Travel App</title>
</head>
<body>

<h2>Travel App</h2>
<form target="_blank" class="form">
  <div class="inputs">
  <div class="forminput">
    City: <input type="text" id="tocity" placeholder="London">
  </div>
  <div class="forminput">
    Start Date: <input type="text" id="startdate" placeholder="YYYY/MM/DD">
  </div>
  <div class="forminput">
    End Date: <input type="text" id="enddate" placeholder="YYYY/MM/DD">
  </div>
  </div>
  <input type="submit" value="submit" id="SUBMIT"></input>
  <button id="print">print</button>
</form>
<div class="hidden">
<div class="display">
  <div class="backdrop">
    <h2>Weather Info</h2>
      <div class="results">
        <div class="content">
            <img id="cityimage" alt="city image">
        </div>
        <div class="content">
            <div> Travel Log to :   </div>
            <span id="travelcity"> </span>
        </div>
        <div class="content">
            <div> Start Date is:   </div>
            <span id="start"> </span>
        </div>
        <div class="content">
            <div> End Date is:   </div>
            <span id="end">  </span>
        </div>
        <div class="content">
            <div> Trip starts in:   </div>
            <span id="daystogo">  </span>
        </div>
        <div class="content">
            <div> Weather:   </div>
            Max Temp <span id="maxtemp">  </span> Min Temp <span id="mintemp">  </span>
        </div>
        <div class="content">
            <div> Summary:   </div>
            <span id="summary">  </span>
        </div>
      </div>
  </div>
</div>
</div>
<script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
</script>
</body>
</html>
